.NewTodoForm {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    height: 3.5em;
}

.NewTodoForm input {
    font-size: 1.5em;
    width: 25rem;
    height: 2rem;
    margin: 0.25em auto;
    margin-right: 0.25em;
    border: none;
    border-bottom: 2px solid #eeeeee;
    padding-left: 10px;
    background-color: #121212;
    color: #eeeeee;
}

.NewTodoForm button {
    height: 3em;
    width: 5em;
    border: none;
    background-color: #121212;
    color: #eeeeee;
}
