.Todo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    border-radius: 0.5em;
    color: #121212;
    padding: 0.25em 0.5em;
}

.Todo p {
    width: 22.5em;
    text-align: left;
    font-size: 24px;
    margin: 0;
    margin-right: 0.25em;
}

.Todo button {
    padding: 4px 10px;
    color: #eeeeee;
    border: none;
    border-radius: 0.5em;
    font-size: 1.25em;
}

.Todo-done {
    background-color: #03dac6;
    margin-right: 0.25em;
}

.Todo-delete {
    background-color: #cf6679;
}
