.TodoList {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    flex-grow: 1;
    padding-top: 0.5em;
}

.TodoList-todos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    color: #dddddd;
}
